/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .map-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 56.25%;
}

.map-canvas {
  position: absolute;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.map-route {
  overflow: scroll;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 54px;
  left: 60%;
  margin: 0;
  padding: 10px;
}

.map-search {
  position: absolute;
  height: 54px;
  right: 0;
  bottom: 0;
  left: 60%;
  margin: 0;
  padding: 10px;
}